:root {
    --levelfour-color: #1B262C;
    --levelthree-color: #444F5A;
    --leveltwo-color: #3282B8;
    --levelone-color: #BBE1FA;
}

.body {
    margin: 0;
    padding: 0;
}

.strokeme
{
    text-shadow: 3px 3px 3px pink;
}

.img {
    background-attachment: fixed;
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;    
}

/*
    outlines
*/



.mid {
    background-color: var(--levelfour-color);
    padding: 0% !important;
}

.customfooter{
    background-color: var(--levelthree-color);
    height: 150px;
}

.customheader{
    background-color: var(--levelthree-color);
    height: 50px;
}

/*
    mid-inside
*/





.top {

    vertical-align: top;
    height: 11.5vw;
}

.bottom {
    background-color: var(--levelfour-color);
    margin: 1%;
}

/*
    top-inside
*/







#marginnull {
    font-size: 1.1vw !important;
    width: fit-content;
    color: white;
    margin-bottom: 0px !important;
}


h5 {
    display: inline-block !important;
    margin-bottom: 0 !important;
    margin-left: 1vw !important;
    margin-right: 1vw !important;

    font-size: 1.2vw !important;
}

.middleinfo {
    display: table;
    margin-right: 1%;
    margin-left: 1%;

    height: 11.5vw;
    width: 98%;
    vertical-align: middle;
    background-color: var(--levelfour-color);
    text-align: center;
}

.sipir{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border-radius: 0 !important;
    width: 24%;
    height: 100%;
    padding: 0 !important;
}

h1 {
    margin-bottom: 0px !important;
    color: white !important;
    font-family: 'Sacramento', cursive;   
    font-size: 5vw !important; 
}

.mipir{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border-radius: 0 !important;
    width: 50%;
    height: 100%;
    padding: 0 !important;
}

.this{
    position: fixed;
}



.btn {
    border: 0px !important;
    display: inline-block;
    border-radius: 50 !important;
    width: 80%;
    height: 80%;
    padding: 0 !important;
}


.butmaxdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 16.6666667%;
    height: 100vh;
}


.butmaxdivt {
    left: 83.3333333%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 16.6666667%;
    height: 100vh;
}

.butdiv {
    height: 8vw;
    width: 80%;
    background-color: var(--level-color);
    margin: 0;
}



.space {
    padding: 0% !important;
    background-color: var(--levelthree-color);
}

/*
    bottom-inside
*/

th {
    padding: 0.5vw !important;
}
td {
    padding: 0.5vw !important;
    vertical-align: middle !important;
}


.table-responsive {
    max-height: 55vh;
}

.table {
    margin-bottom: 0px !important;
    text-align: center !important;
    font-size: 1.1vw;
}

.head {
    vertical-align: middle !important;
}

@media (max-width: 720px) and (min-width: 0px) {
    h5 {
        font-size: 2vw !important;
    }
}
